{% macro render_field(field) -%}
  <label class="form-label">{{ field.label.text }}</label>
  {{ field(class_='form-control') }}
  {% if field.errors %}
    <div class="text-danger small">
      {% for e in field.errors %}{{ e }}{% endfor %}
    </div>
  {% endif %}
{%- endmacro %}

{% macro render_textarea(field) -%}
  <label class="form-label">{{ field.label.text }}</label>
  {{ field(class_='form-control', rows=4) }}
  {% if field.errors %}
    <div class="text-danger small">
      {% for e in field.errors %}{{ e }}{% endfor %}
    </div>
  {% endif %}
{%- endmacro %}
